*{
box-sizing:border-box;
font-family:Segoe UI;
}


body{

margin:0;
height:100vh;

background:
linear-gradient(135deg,#020617,#1e3a8a);

color:white;

display:flex;
align-items:center;
justify-content:center;

}



.app{

width:92%;
height:90vh;

display:flex;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:30px;

overflow:hidden;

box-shadow:0 30px 80px #000;

}





/* sidebar */


.sidebar{

width:280px;

padding:30px;

background:rgba(0,0,0,.25);

}


.avatar{

width:70px;
height:70px;

border-radius:50%;

background:#38bdf8;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

color:#020617;

}



.profile p{

color:#94a3b8;

}



.menu{

margin-top:40px;

}



.menu-card{

display:flex;

gap:15px;

padding:15px;

margin:15px 0;

background:rgba(255,255,255,.08);

border-radius:18px;

}



.menu-card i{

color:#38bdf8;

font-size:22px;

}



.menu-card p{

margin:0;

color:#cbd5e1;

}




.clear{

margin-top:30px;

width:100%;

padding:15px;

border:none;

border-radius:20px;

background:#ef4444;

color:white;

cursor:pointer;

}









.chat{

flex:1;

display:flex;

flex-direction:column;

}




header{

padding:25px 35px;

display:flex;

justify-content:space-between;

border-bottom:1px solid #ffffff20;

}



header span{

color:#94a3b8;

}



.online{

color:#4ade80;

}







#chat-box{

flex:1;

padding:30px;

overflow:auto;

}






.bot-msg,
.user-msg{

max-width:65%;

padding:15px 20px;

margin:15px;

border-radius:20px;

display:flex;

gap:12px;

animation:show .3s;

}



.bot-msg{

background:#ffffff15;

border-left:4px solid #38bdf8;

}



.user-msg{

margin-left:auto;

background:#2563eb;

}






.icon{

font-size:22px;

}




.input-area{

padding:25px;

display:flex;

gap:15px;

}



input{

flex:1;

padding:18px;

border-radius:30px;

border:none;

outline:none;

background:#020617;

color:white;

}





button{

width:55px;

border:none;

border-radius:50%;

background:#38bdf8;

cursor:pointer;

font-size:20px;

}






.loading span{

display:inline-block;

width:8px;

height:8px;

background:white;

border-radius:50%;

margin:3px;

animation:bounce .8s infinite;

}




@keyframes bounce{

50%{
transform:translateY(-8px);
}

}



@keyframes show{

from{

opacity:0;
transform:translateY(10px);

}

to{

opacity:1;

}

}






@media(max-width:800px){

.sidebar{

display:none;

}

.app{

width:95%;

}


}